<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archrouter.demob">

    <application>
        <activity
            android:name=".contents.view.DemoBActivity"
            android:exported="false" />
    </application>

</manifest>